%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
{erl_opts, [debug_info]}.
{deps, []}.

{relx, [{release, {erlidentd, "0.1.0"},
         [erlidentd, sasl]},
        
        {dev_mode, true},
        {include_erts, false},
        
        {extended_start_script, true}]}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                           {include_erts, true}]},
                   {erl_opts, [no_debug_info,
                               warnings_as_errors]}
                  ]
           },
           {native, [{erl_opts, [{native, o3}]}]},
           {test, [{deps, []},
                   {erl_opts, [debug_info]}]}
          ]
}.
